body {

  margin: 0;
  font-family: 'Xanh Mono', monospace;

}
header{
  background-color: white;
  height: 100px;


}

.Hero{
  background: url("../img/top-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 20px;
  width: 100%;
  height: 400px;
  margin-left: 5%;
  padding: 3%;
  color:white;
  animation: slidein;
  animation-duration: 3s;



}


 header nav ul {
  list-style: none;
  text-decoration: none;
   text-align: right;
   margin-right: 120px;



}

header nav ul li{


  display: inline;


}

header nav ul li a{

  text-decoration: none;
  color:black;
  font-size: 20px;
  margin: 10px;

}



.button{

  background:linear-gradient(100deg,orangered,black);
  color:white;
  border-radius:5px;
  height: 50px;
  box-shadow: 0px 2px white;
}

.half-width{
  width: 40%;
  float: left;

  padding: 10px;
  height: 500px;
  background: linear-gradient(orangered, #999595);


}
/*.ahalf-width{*/
/*  width: 40%;*/
/*  float: left;*/
/*  padding: 40px;*/
/*  background:url("../img/header-bg.png");*/

/*  height: 400px;*/


/*}*/

.half-width h1{

  padding-top: 15px;
}


.half-width img{

  width: 60%;
  margin-left: 10px;
  padding-left: 10px;



}
 .first-name{

  color:black;


}
 button:hover{

   background: white;
   color: orangered;
 }
.another-half-width{
  width: 40%;
  float: left;
  color: #131212;
  padding: 10px;
  height: 500px;
  background: linear-gradient(#b1a9a9,orangered);


}
.another-half-width img{

  width: 60%;
  margin-left: 10px;
  padding-left: 10px;



}

.About{



  font-size: 20px;
  width: 100%;
  height: 400px;
  margin-left: 5%;
  padding: 3%;
  color:white;


}

.About:hover{


  animation:slideout 4s;
}

.Latest-Work{
  margin-top:8.9%;
  width: 77%;
  height:450px;
  background: #1b1b1d;
  margin-left: 8%;
  padding: 3%;
  box-shadow: 5px 5px  white;
}


.one-third{

  width: 30%;
  height: 400px;
  float: left;
  background: white;
  margin-right: 2%;
  text-align: center;
  border-radius: 5px;
  align-items: center;
  box-shadow: 5px 5px 5px 5px  black;
}
.one-third img{

  width: 100%;
  height: 200px;
  margin-top: 5px;
}
.Latest{

  color:orangered;
}
.Latest-Work h1{
  color:white;
  text-align: center;
}
@keyframes slidein {
  from {

  transform: translateX(120);
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes slideout {
  from {
    margin-left: -100%;
    width: 200%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}


